{% extends 'navbar.html' %}
{% set this_page_id = 'about' %}
{% block content %}
<div class="row-fluid">
    <div class="span10 offset1">
        <div class="jumbotron">
            <h1>queri.me</h1>
            <em>Created by Samuel Damashek, James Forcier, and Fox Wilson at MHacks IV</em>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset1">
        queri.me allows users to check server diagnostics and queue up tasks such as reminders via text message. It enables easy monitoring of systems' status and facilitates maintaining services.
    </div>
</div>
{% endblock %}
