{% extends 'navbar.html' %}
{% block content %}
<h1>Hello, {{ session.username }}</h1>
<h2>Add phone</h2>
<form action="/account/phones/add/" method="POST">
    <div class="row row-fluid">
        <div class="col-sm-9">
            <input type="text" placeholder="+12022548273" name="phone" class="form-control" />
        </div>
        <div class="col-sm-3">
            <input type="submit" value="Add phone" class="btn btn-primary btn-block" />
        </div>
    </div>
</form>
<h2>Confirm phone</h2>
<form action="/account/phones/confirm/" method="POST">
    <div class="row row-fluid">
        <div class="col-sm-5">
            <input type="text" placeholder="+12022548273" name="phone" class="form-control" />
        </div>
        <div class="col-sm-4">
            <input type="text" placeholder="123456" name="code" class="form-control" />
        </div>
        <div class="col-sm-3">
            <input type="submit" value="Confirm phone" class="btn btn-primary btn-block" />
        </div>
    </div>
</form>
<h2>Your phones</h2>
<table class="table table-condensed table-hover">
    <tr>
        <th>Phone number</th>
        <th>Is confirmed?</th>
    </tr>
    {% for phone in phones %}
    <tr>
        <td>{{ phone.phone_number }}</td>
        <td>{{ "Yes" if phone.is_confirmed else "No" }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
