{% extends 'navbar.html' %}
{% set this_page_id = 'aliases' %}
{% block content %}
<table class="table table-bordered table-roundedtable-hover">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Utilities</th>
    </tr>
    {% for i in aliases %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td><a class="btn btn-danger btn-xs" href="/account/alias/del/{{ i[2] }}">Delete alias</a></td>
    </tr>
    {% endfor %}
    <tr>
		<form role="form" action="/account/alias/add/" method="POST">
			<td><input type="text" class="form-control" name="from" /></td>
        	<td><input type="text" class="form-control" name="to"   /></td>
			<td><button type="submit" class="btn btn-primary">Create alias</button></td>
		</form>
    </tr>
</table>
{% endblock %}
